<!--
  To display Hello from BridgeLabz with a user inputted name.
  @author : DAXIL SAXENA
  @since : 22.08.2021
-->

<div class="container">
  <h1>Hello {{this.userName}} from BridgeLabz</h1>
  <img [src] ="imgUrl" (click) = "onClick($event)" alt="The Bridgelabz Logo: a Bridge to Employement through Lab Works."/>
</div>
<div class="container">
  <input (input)="onInput($event)" [(ngModel)]="userName"/>
  <span class="error-output">{{this.nameError}}</span>
</div>

<router-outlet></router-outlet>